<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Github like styles</title>
    <link rel="stylesheet" href="./styles/github/markdown.css">
</head>
<body>
    <div class="markdown-body">
        <% include ../../temp/markdown.html %>
    </div>
</body>
</html>
